@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #090a0f;
  --color-surface: #11131a;
  --color-surface-hover: #1a1d27;
  --color-border: #232736;
}

body {
  background-color: var(--color-background);
  color: #f3f4f6;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow: hidden;
  user-select: none;
}

/* 自定义暗黑滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2b3042;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b425b;
}
